/* Universal Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo Tammudu 2", cursive !important;
  background-color: black;
}

h1 {
    font-size: 1.5em;
}

/* Header Section */

header {
  display: grid;
  height: 100px;
  width: 100%;
  grid-template-columns: minmax(132.25px, 1fr) 50% minmax(132.25px, 1fr);
  background-color: #2e3192;
  border-bottom: 1px solid #474bc5;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .header-logo {
  grid-area: 1 / 1 / 2 / 2;
  flex-grow: 2;
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

header .header-logo img {
  width: auto;
  height: 3em;
}

.topNav {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  height: 90%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.topNav a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(216, 216, 216);
  margin: 5px 10px 0 10px;
  text-decoration: none;
}

.topNav a:hover {
  color: white;
}

.topNav a.active {
  color: white;
}

.topNav .icon {
  display: none;
}

header .buttons {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  max-width: 100%;
  margin-right: 20px;
  flex-grow: 2;
  justify-content: flex-end;
}

header .buttons button {
  margin: 0 5px;
}

@media only screen and (max-width: 768px) {
  .topNav a {
    font-size: 1.25rem;
  }
}

/* When the screen is less than 630 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the nav (.icon).
The "responsive" class is added to the nav with JavaScript when
the user clicks on the icon. This class makes the nav look good on
small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 630px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  .topNav {
    flex-flow: column;
  }

  .topNav a:not(:first-child) {
    display: none;
  }
  .topNav a.icon {
    display: block;
  }
  .topNav.responsive {
    position: relative;
  }
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  header .buttons {
    display: none;
  }
}

/* Main Content */

main {
  display: grid;
  width: 100%;
  margin-top: 100px;
  grid-template: repeat(9, 100px) / repeat(12, 1fr);
  grid-column-gap: 10px;
}

@media only screen and (max-width: 620px) {
  main {
    grid-template: repeat(9, 100px) / 1fr;
  }
}

/* Banner Section */

.banner {
  grid-area: 1 / 1 / span 4 / -1;
  background-image: url("../images/newbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Stats */

.stats {
  grid-area: 5 / 1 / span 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(197, 223, 51);
}

/* Info */

.info {
  grid-area: 6 / 1 / span 3 / -1;
  display: grid;
  grid-template-areas: "whoIs howTo";
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 620px) {
  .info {
    grid-template: 1fr 1fr / 1fr;
    grid-template-areas:
      "whoIs"
      "howTo";
  }
}

.infoPanel {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
}

.infoPanel h1 {
  font-size: 38px;
  font-weight: 800;
}

.infoPanel p {
  font-size: 16px;
}

#whoIs {
  grid-area: whoIs;
  background-color: #2e3192;
  color: white;
}

#howTo {
  grid-area: howTo;
  background-color: white;
  color: #2e3192;
}

@media only screen and (max-width: 768px) {
  .infoPanel h1 {
    font-size: 38px;
  }

  .infoPanel p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .infoPanel h1 {
    font-size: 32px;
  }

  .infoPanel p {
    font-size: 14px;
  }
}

/* Path */

.path {
  grid-area: 9 / 1 / span 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: grey;
}

/* ... */
